* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Playfair", sans-serif;
}

nav	a{
	text-decoration: none;
	color: black;
}

nav div {
	font-family: "Cinzel", sans-serif;
	font-weight: 600;
}

#me {
	border-radius: 50%;
}

#landing h1 {
	font-family: "Cinzel", sans-serif;
	font-weight: 600;
}

#landing h2 {
	font-family: "Cinzel", sans-serif;
	font-weight: 300;
}

section #projects {
	font-family: "Cinzel", sans-serif;
	font-weight: 600;
}

section #tools {
	font-family: "Cinzel", sans-serif;
	font-weight: 600;
}

#front-end {
	font-family: "Cinzel", sans-serif;
	font-weight: 300;
}

#mern {
	font-family: "Cinzel", sans-serif;
	font-weight: 300;
}

#other-tools {
	font-family: "Cinzel", sans-serif;
	font-weight: 300;
}

#contact {
	font-family: "Cinzel", sans-serif;
	font-weight: 600;
}

#message {
	font-family: "Cinzel", sans-serif;
	font-weight: 600;
}

#formButton {
	border-radius: 100px;
	margin: 100;
}

#background {
	background: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)), url(./images/background2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#navBarBg {
	background-color: #FFF1DB;
}

#toolsBg {
	background: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)), url(./images/background.jpg);
}

#myProjects {
	background-color: #FFF1DB;
}

#contactUs {
	background-color: #FFF1DB;
}

#footerBg {
	background-color: #D4BDAC;
}


